
<p>
  chat-pc works!
</p>


<div class="box box-primary direct-chat direct-chat-primary" style="width:300px;">
    <div class="box-header with-border">
      <h3 class="box-title">Firebase Chat</h3>
    </div>
    <div class="box-body">


      <div class = "direct-chat-messages" style="height:100px;">


      <span *ngFor="let chat of chat_query$ | async">

        <span *ngIf="own_user?.id != chat.id">
          <div class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-left"> -- {{ (user_list_obj$ | async)?.$key }}</span>
              <span *ngIf="user_data">
                  <span>{{user_data[chat.id]?.name}}</span> 
              </span>
            </div>
              <span *ngIf="user_data">
               <img class="direct-chat-img" src="{{user_data[chat.id]?.pict_src}}">
              </span>
            <div class="direct-chat-text">
              {{chat.body}}
            </div>
          </div>
        </span>


        <span *ngIf="own_user?.id == chat.id">
          <div class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">{{user_data[chat.id]?.name}}</span>
            </div>
            <img class="direct-chat-img" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p160x160/12341602_953593204721655_7227562974230394333_n.jpg?oh=c1e069b879fcc8ce9143d87654516c61&amp;oe=5814739C">
            <div class="direct-chat-text">
              {{chat.body}}
            </div>
          </div>
        </span>

      </span>

    </div>

    <div class="box-footer">
      <form>
        <div class="input-group" style="display:block" id="chat_comment_input">
          <input type="text" name="message" placeholder="Type Message ..." class="form-control" [(ngModel)]="comment_input">
        </div>
      </form>
    </div>
</div>

<input type="number" (keyup)="change_num(comment_number.value)" #comment_number>
